* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-size: 16px;
    overflow-x: hidden;
}
header {
    background: url("./images/bg-pattern-intro-desktop.svg"), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position: 25% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom-left-radius: 5rem;
    font-family: "Overpass", sans-serif;
    padding: 4rem 10rem;
    text-align: center
}
header p,
header a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

header p:hover,
header a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    width: 40%;
}
.header-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.3rem;
}
.header-arrow {
    width: 10px;
    height: 7px;
    transform: rotate(0deg);
    transition: transform 250ms ease;
}

.header-arrow.show {
    transform: rotate(180deg);
    transition: transform 250ms ease;
}
.header-dropdown {
    display: none;
}
.header-dropdown.show {
    display: flex;
    flex-direction: column;
    text-align: left;
    opacity: 0.8;
    gap: 0.5em;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    padding: 1rem;
    min-width: 8rem;
    margin-top: 1rem;
    z-index: 1;
}
.header-dropdown a {
    color: hsl(208, 49%, 24%);
    font-family: "Overpass", sans-serif;

}
.header-dropdown a:hover {
    font-weight: bold;
    text-decoration: none;
}
.header-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.sign-up-btn,
.start-btn,
.learn-btn {
    border-radius: 1.5rem;
    padding: 0.6rem 1.5rem;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    transition: 0.5s;
}
.sign-up-btn {
    background-color:hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    border: none;
}
.sign-up-btn:hover {
    cursor: pointer;
    background-color: hsl(356, 100%, 66%);
    color:hsl(0, 0%, 100%);
}
.header-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem;
}
.header-desc h1 {
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
}
.header-desc-btn {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}
.start-btn {
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    border: none;
}
.start-btn:hover {
    cursor: pointer;
    background-color: hsl(356, 100%, 66%);
    color:  hsl(0, 0%, 100%);
}
.learn-btn {
    background-color: hsl(356, 100%, 66%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 100%);
}
.learn-btn:hover {
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    color:hsl(356, 100%, 66%);
}
.header-hamburger{
    display: none;
}
.header-close{
    display: none;
}
.mobile-menu {
    display: none;
}
.mobile-menu.show {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 0.5rem;
    right: 2rem;
    margin-top: 2rem;
}
.header-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.3rem;
}
.header-mobile-text {
    color: hsl(240, 10%, 16%);
    font-weight: bold;
}
.header-mobile-text.show {
    opacity: 0.7;
}
.header-mobile-icon {
    width: 10px;
    height: 7px;

    transform: rotate(0deg);
    transition: transform 250ms ease;
}
.header-mobile-icon.show {
    transform: rotate(180deg);
    transition: transform 250ms ease;
}
.mobile-submenu {
    display: none;
}
.mobile-submenu.show {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    background-color:  hsl(207, 13%, 34%);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.mobile-submenu a {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    opacity: 0.7;
}
.mobile-menu hr {
    color: hsl(207, 13%, 34%);
    width: 10rem;
}
.header-mobile-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.header-mobile-btn a {
    color: hsl(208, 49%, 24%);
    font-weight: bold;
}
.header-mobile-btn button {
    background: linear-gradient(to right,  hsl(355, 100%, 74%), hsl(356, 100%, 66%));
    border: none;
    border-radius: 1.5rem;
    color: hsl(0, 0%, 100%);

    cursor: pointer;
    padding: 0.6rem 1.5rem;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    width: 6rem;
}
.attribution {
    font-size: 11px;
    text-align: center; 
    margin-top: 4rem;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 845px) {
    .header{
        padding: 4rem 2rem;
    }
    .header-tab {
        display: none;
    }
    .header-menus .iimg{
        position: absolute;
        left: 4rem;
    }
    .header-buttons {
        display: none;
    }
    .header-hamburger{
        display: block;
        position: absolute;
        left: 80%;
        cursor: pointer;
    }
    #info-2 img{
        width: 100%;
    }
    .header-hamburger.hide {
        display: none;
    }
    .header-close.show {
        display: block;
        position: absolute;
        left: 80%;
        cursor: pointer;
    }
   
}

#info-1 {
    background-color:hsl(0, 0%, 100%);
    color: hsl(207, 13%, 34%);
    font-family: "Overpass", sans-serif;

    padding: 8rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
    line-height: 2rem;
}
#info-1 h2 {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2rem;
}
#info-1 h2,
#info-1 h3 {
    color: hsl(208, 49%, 24%);
}
#info-1 section h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.info-1-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-1-image {
    position: absolute;
    right: -250px;
}
.info-1-text {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 50%;
}

@media screen and (max-width: 1250px) {
    #info-1 {
        margin: 0;
        margin-bottom: 15rem;
        padding: 4rem 2rem; 
    }
    #info-1 h2 {
        margin-bottom: 2rem;
    }
    .info-1-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .info-1-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .info-1-image {
        position: static;
    }
    .info-1 section h3 {
        margin-bottom: 1rem;
    }
    .info-1-text {
        text-align: center;
        gap: 2rem;
        width: auto;
    }
    .sign-up-btn,
    .start-btn,
    .learn-btn {
    border-radius: 1.5rem;
    white-space: nowrap;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    transition: 0.5s;
}
}

#info-2 {
    background: url("./images/bg-pattern-circles.svg"), linear-gradient(to right,  hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    background-repeat: no-repeat;
    background-position: -30% 85%;
    background-size: auto;
    color: hsl(0, 0%, 100%);
    font-family: "Overpass", sans-serif;

    padding: 6rem 8rem;
    line-height: 2rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}
.info-2-container {
    display: flex;
    align-items: center;
}
#info-2 img {
    position: absolute;
    left: 50px;
}
#info-2 section {
    margin-left: auto;
    width: 50%;
}
#info-2 h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

@media screen and (max-width: 1250px) {
    #info-2 {
        position: relative;
        padding: 8rem 2rem;
        background-position: 50% 100%;
    }

    .info-2-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 10rem;
    }

    #info-2 img {    
        position: absolute;
        left: initial;
        top: -250px;
    }

    #info-2 section {
        margin: 0;
        width: auto;
    }
}

#info-3 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(207, 13%, 34%);
    font-family: "Overpass", sans-serif;

    padding: 8rem;
    line-height: 2rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#info-3 h3 {
    color: hsl(208, 49%, 24%);
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.info-3-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-3-image {
    position: absolute;
    left: -280px;
}

.info-3-text {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 50%;
    margin-left: auto;
}

@media screen and (max-width: 1250px) {
    #info-3 {
        padding: 4rem 2rem;
        margin: 0;
    }

    #info-3 h3 {
        margin-bottom: 1rem;
    }

    .info-3-container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .info-3-image {
        position: static;
    }

    .info-3-text {
        gap: 2rem;
        width: auto;
        margin: 0;
        text-align: center;
    }
}

footer {
    background-color: hsl(240, 10%, 16%)
    ;
    color: hsl(0, 0%, 100%);
    font-family: "Overpass", sans-serif;
    border-top-right-radius: 5rem;

    padding: 5rem 20rem 5rem 10rem;
}
footer a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
footer a:hover {
    text-decoration: underline 2px;

}
.footer-nav {
    display: flex;
    justify-content: space-between;
}
footer img {
    width: 101px;
    height: 40px;
}
.footer-links p {
    font-weight: bold;
    margin-bottom: 1rem;
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 845px) {
    footer {
        padding: 4rem;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4rem;
    }
}